<div class="col-md-4 blog-post pt-5" data-type="video">
  <div class="card">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoid" allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <h5 class="card-title">Video Blog Title 1</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="{% url 'vlog' %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
</div>
