{% extends 'base/layout.html' %}

{% block body %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Tutor Registration</h1>

  <div class="row">
    <!-- Academic & Other Subjects Tutor Option -->
    <div class="col-md-6">
      <div class="tutor-option">
        <h3>Academic Tutor Application</h3>
        <p>Apply to become a tutor for academic and other general subjects.</p>
        <a href="https://forms.gle/U3fRfhvMc1Lq28776">
          <button class="apply-btn">Apply Now</button>
        </a>
      </div>
    </div>

    <!-- Language Tutor Option -->
    <div class="col-md-6">
      <div class="tutor-option">
        <h3>Language Tutor Application</h3>
        <p>Apply to become a tutor for language teaching and learning.</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdJ2xAptZqve7rKOnHm5QcImG0nUgkq57XcUBqoVZLfAzUfTg/viewform">
          <button class="apply-btn">Apply Now</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}