{% extends 'base/layout.html' %}

{% block body %}
<section id="about" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="mb-4">About Us</h2>
        <p class="lead mb-5" style="line-height: 1.8;">
          {% if request.COOKIES.lang == "MM" %} {{ aboutUs.mm }} {% else %} {{ aboutUs.en }} {% endif %}
        </p>

      </div>

      <!-- Timeline Section -->

      <!-- Achievements Section -->
    </div>
    <hr />
    <div class="achievement">
      <h3 class="text-center mb-4">Our Achievements</h3>
      <div class="row">

        {% for achievement in achievements %}

        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ achievement.title }}</h5>
              <p class="card-text">{{ achievement.subtitle }}</p>
            </div>
          </div>
        </div>
        {% endfor %}


      </div>
    </div>
    <hr />
    <div class="row mt-5">
      <div class="col-lg-6">
        <h3>Vision</h3>
        <p style="
          height: 100px;
      ">
          {% if request.COOKIES.lang == "MM" %} {{ vision.mm }} {% else %} {{ vision.en }} {% endif %}
        </p>
        <img src="/public/vision.jpg" class="img-fluid mb-4" alt="Vision Image" />
      </div>
      <div class="col-lg-6">
        <h3>Mission</h3>
        <p style="
        height: 100px;
    ">
          {% if request.COOKIES.lang == "MM" %} {{ mission.mm }} {% else %} {{ mission.en }} {% endif %}
        </p>
        <img src="/public/mission.jpg" class="img-fluid mb-4" alt="Mission Image" />
      </div>
    </div>
  </div>
</section>
<div class="container mt-5 pt-5"></div>
{% endblock %}