{% extends 'base/layout.html' %} {% block body %} {% load static %}
<section id="about" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center content-detail">
        <h3 class="mb-4">MMtutors Apps</h3>
        <p class="lead mb-5" style="line-height: 1.8">
          {% if request.COOKIES.lang == "MM" %} {{ info.mm }} {% else %} {{ info.en }} {% endif %}
        </p>
      </div>
    </div>
    {% for app in apps %}
    <hr />
    <div class="download-apps">
      <h4 class="text-center my-4">
        {% if request.COOKIES.lang == "MM" %} {{ app.title_mm }} {% else %} {{ app.title_en }} {% endif %}
      </h4>
      <div class="row pt-2 pt-md-4 pb-0 pb-md-4">
        <div class="col-md-4 text-center mb-4 mb-md-0">
          <a
            href="{{ app.appstore_link }}"
            style="text-decoration: none"
            download
          >
            <img src="{% static 'images/MMtutors-appstore.svg' %}" />
          </a>
        </div>
        <div class="col-md-4 text-center mb-4 mb-md-0">
          <a
            href="{{ app.playstore_link }}"
            style="text-decoration: none"
            target="_blank"
            download
          >
            <img src="{% static 'images/MMtutors-playstore.svg' %}" />
          </a>
        </div>
        <div class="col-md-4 text-center mb-4 mb-md-0">
          <a
            href="public/{{ app.direct_download }}"
            style="text-decoration: none"
            target="_blank"
            download
          >
            <div
              class="bg-yellow d-inline-flex align-items-center justify-content-center shadow-sm"
              style="height: 52px; width: 176px; border-radius: 8px"
            >
              {% include "icons/download.html" %}
              <div class="text-left">
                <small class="d-block" style="font-size: 10px"
                  >Download APK</small
                >
                <strong style="font-size: 14px">Direct Download</strong>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<div class="container mt-5 pt-5"></div>
{% endblock %}
