{% extends 'base/layout.html' %}

{% block body %}
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-4">Blog Post Title</h1>
        <p class="lead">Posted on June 15, 2024 by Author Name</p>
        <hr />
      </div>
    </div>

    <div class="row blog-section pt-5">
      <div class="col-lg-12">
        <h2>Section 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet dolor libero, eget venenatis mauris finibus dictum. Vestibulum quis elit eget neque porttitor congue non sit amet dolor.</p>
        <img src="https://placehold.co/1000x200" alt="Image for Section 1" /> <!-- Replace with the actual path to your image -->
      </div>
    </div>

    <div class="row blog-section pt-5">
      <div class="col-lg-12">
        <h2>Section 2</h2>
        <p>Quisque aliquet varius tempor. Ut bibendum sapien sit amet dignissim rhoncus. Nullam euismod sapien eu nisl bibendum, quis scelerisque leo sollicitudin. Curabitur dapibus, erat ut malesuada posuere, nisi orci consectetur elit.</p>
        <img src="https://placehold.co/100x200" alt="Image for Section 2" /> <!-- Replace with the actual path to your image -->
      </div>
    </div>

    <div class="row blog-section pt-5">
      <div class="col-lg-12">
        <h2>Section 3</h2>
        <p>Suspendisse potenti. Proin justo est, vehicula et mi in, euismod aliquet dolor. Cras pulvinar metus a libero semper, a viverra justo interdum. Integer consectetur sit amet nibh a pellentesque.</p>
        <img src="https://placehold.co/500x800" alt="Image for Section 3" /> <!-- Replace with the actual path to your image -->
      </div>
    </div>

    <div class="row blog-section pt-5">
      <div class="col-lg-12">
        <h2>Section 4</h2>
        <p>Vestibulum volutpat turpis vel lacus ultricies, sit amet laoreet sapien ultrices. Ut tincidunt erat quis dui scelerisque, vel lobortis libero bibendum. Nullam fermentum dolor et turpis cursus vestibulum.</p>
      </div>
    </div>
  </div>
{% endblock %}
