{% extends 'base/layout.html' %}

{% block body %}
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-4">{{ job.title }}</h1>
        <p class="lead">Posted on {{ job.date|date:"jS F Y" }}</p>
        <br>
      </div>
    </div>

    <div class="row blog-section">
      <div class="col-lg-12">
        
        <h5>Salary: {{ job.salary }}</h5>
      </div>
    </div>

    <div class="row blog-section">
      <div class="col-lg-12">
        <p> {{ job.content|linebreaks }}</p>
      </div>
    </div>
    <hr>
  </div>
{% endblock %}
