{% extends 'base/layout.html' %}

{% block body %}
<section id="about" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="mb-4">Welcome to MMTutors.</h2>
        <p class="text-start">
          This Privacy Policy explains how MMTutors and its affiliates and subsidiaries (“we,” “us,” or “MMTutors”) collects, uses, shares, and protects personally identifiable information “Personal Information.” This Privacy Policy applies only to information that we collect through the website located at https://www.mmtutors.com, (the "Site"). Personal Information is information that could reasonably be used to identify you individually, such as your name and e-mail address. If you do not want us to handle your Personal Information in the manner described herein, please do not use the Site.
          <br/><br/>
          This Privacy Policy explains:
          <ul>
            <li>What information we collect</li>
            <li>How we use that information</li>
            <li>How we may disclose that information</li>
            <li>Your choices regarding your Personal Information</li>
            <li>Steps we take to keep your data secure</li>
          </ul>
                      
          As a guiding principle, our mission is to provide an online marketplace to make it easy for students to find qualified tutors.
                
          This Privacy Policy will apply whether you are a “Visitor” (which means you simply browse the site), “Student” someone who registers to seek out tutoring services, or “Tutors” (which means you have registered with us to provide tutoring services). Visitors, Students and Tutors may be individually referred to as a “User,” and collectively, as “Users.”
        </p>
        <h3 class="mb-4">1. Information We Collect</h3>
        <p class="text-start">
          Personal Information: We receive and store information you voluntarily provide to us by registering to use the features and functionality on the Site (the “Services”). When you register with us, we require you to provide certain Personal Information, such as your name and contact information. You may choose as part of certain Services to provide additional Personal Information. For example, if you are a Tutor creating your profile on the Site (“Profile”), we collect categories of information relevant to your Profile, including your contact information and information about your professional credentials, experience, and education. We do this to help Students find the right Tutor. Please remember that you do not have to submit any of this additional information, but we may not be able to provide you certain Services without it.
          <br/><br/>
          “Automatically Collected” Information: When you access the Site or open one of our emails, we may automatically record certain information from your system by using different types of tracking technology. This “automatically collected” information may include Internet Protocol address (“IP Address”), a unique user ID, version of software installed, system type, the content and pages that you access on the Site, and the dates and times that you visit the Site.
          <br/> <br/>
          “Cookies” Information: When you access the Site, we may send one or more cookies – small text files containing a string of alphanumeric characters – to your computer. MMTutors may use both session cookies and persistent cookies. A session cookie disappears after you close your browser. A persistent cookie remains after you close your browser and may be used by your browser on subsequent visits to the Site. Persistent cookies can be removed. Please review your web browser “Help” file to learn the best way to modify your cookie settings.
          <br/> <br/>
          “Pixel Tags” or “Clear Gifs”: A pixel tag, also known as a clear GIF or web beacon, is an invisible tag placed on certain pages of our Site but not on your computer. When you access these pages, pixel tags generate a generic notice of that visit. They usually work in conjunction with cookies, registering when a particular computer visits a particular page. If you turn off cookies the pixel tag will simply detect an anonymous website visit.
          <br/><br/> 
          Information from Other Sources: We may also obtain information, including Personal Information, from third parties and sources other than the Site, as well as from other Users of the Services. If we combine or associate information from such other sources with Personal Information that we collect through the Site, we will treat the combined information as Personal Information in accordance with this Privacy Policy.
        </p>
        <h3 class="mb-4">2. The Way We Use Information</h3>
        <p class="text-start">
          We use the information we collect to serve our Users, market and promote our Services, and improve your experience on the Site. Some examples include:
          <br/> <br/>
          <ul>
          <li>Addressing service complaints</li>
          <li>Understanding usage trends and preferences of Users to improve and expand our products, services, features, and functionality</li>
          <li>Improving customer service</li>
          <li>Sending you marketing and promotional emails, unless you have told us you do not want to receive such emails</li>
          </ul>        
          We may use your email address, without further consent, for administrative communications such as notifying you of major updates, for customer service purposes, and to send privacy or security related notices.
          <br/> <br/>
          MMTutors may use “Automatically Collected” information and “Cookies” information to: 
          <br/>
          (a) automatically update the MMTutors application on your system; 
          <br/>
          (b) remember your information so that you will not have to re-enter it during your visit or the next time you access the Site; 
          <br/>
          (c) provide customized third-party advertisements, content and information; 
          <br/>
          (d) monitor and report on the effectiveness of third-party marketing campaigns; 
          <br/>
          (e) monitor and report aggregate usage metrics such as total number of visitors and pages accessed; and 
          <br/>
          (f) track your entries, submissions, and status in any promotions or other activities.
        </p>
        <h3 class="mb-4">3. When We Disclose Information</h3>
        <p class="text-start">
          Information disclosed to Students: If you are a Tutor, we may (and you hereby authorize us to) disclose your Personal Information to Students in order to enable Students to potentially hire you. The Site will allow Students to view and search your profile on the Site. We do not control how Students use or disclose information they obtain from us, including Personal Information. The information shared with Students may include the information you have provided to us or that we have otherwise collected about you (whether from you or third-party sources).
          <br/> <br/>
          We may also disclose certain Personal Information:
          <br/> <br/> 
          To third party vendors who help us provide the Services, in which case we will require such service providers agree to process such information based on our instructions and in compliance with this Privacy Policy;
          To a parent company, any subsidiaries, joint ventures, or other companies under a common control (collectively, “Affiliates”), in the event we have such Affiliates in the future, in which case we will require our Affiliates to honor this Privacy Policy;
          If we believe in good faith that such disclosure is necessary to (a) resolve disputes, investigate problems, or enforce our Terms of Use; (b) comply with relevant laws or to respond to requests from law enforcement or other government officials relating to investigations or alleged illegal activity, in which case we can (and you authorize us to) disclose Personal Information without subpoenas or warrants served on us; or (c) protect and defend our rights or property or the rights and property of you or third parties.
          <br/> <br/>      
          We may disclose some limited User information to affiliated companies, contractors or other businesses or persons to: provide website hosting, maintenance, and security services; fulfill orders; conduct data analysis and create reports; offer certain functionality; and assist us in improving the Site and creating new Services and features. We contractually require that these parties process such information in compliance with this Privacy Policy, we authorize only a limited use of such information, and we require these parties to use reasonable confidentiality measures.
          <br/> <br/>
          We do not share your Personal Information with other organizations for their marketing or promotional uses without your prior express consent. Please be aware, however, that any Personal Information that you voluntarily choose to display on any publicly available portion of the Site becomes publicly available and may be collected and used by others without restriction.
        </p>
        <h3 class="mb-4">4. Accessing And Controlling Your Information</h3>
        <p class="text-start">
          You may, of course, decline to share your Personal Information with us, in which case we will not be able to provide to you some of the Services found on the Site.
          <br/> <br/> 
          You may correct and update information we collect from you by logging onto your Account and accessing your Profile. If you change and/or request changes to your information, subsequent uses or disclosures of that information by us will reflect those changes, however, we do not have the ability to update any information previously disclosed to any third party, including a Student.
          <br/> <br/> 
          We may take steps to verify your identity before providing you access to view, update, correct, or delete your Personal Information. MMTutors reserves the right to retain and use the information that we collect in a way that we believe, in good faith, is appropriate or necessary to take precautions against liability; enforce our Terms of Service; or protect MMTutors or its users from fraudulent, abusive, or unlawful uses.
          <br/> <br/> 
          To protect your privacy and security, we take reasonable steps to verify your identity before granting you Account access or making corrections to your information. You are responsible for maintaining the secrecy of your unique password and Account information at all times.             
        </p>
        <h3 class="mb-4">5. Data Security</h3>
        <p class="text-start">
          We use commercially reasonable physical, managerial, and technical safeguards in an effort to preserve the integrity and security of your Personal Information. We cannot, however, ensure or warrant the security of any information you transmit to MMTutors, and you do so at your own risk. Once we receive your transmission of information, we make commercially reasonable efforts in an effort to ensure the security of our systems. However, please note that this is not a guarantee that such information may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.
        </p>
        <h3 class="mb-4">6. Third Parties</h3>
        <p class="text-start">
          Except as otherwise expressly provided, this document addresses only the use and disclosure of information we collect from you or that you disclose to us. If you disclose your information to others besides MMTutors whether they are users of the Site or on other sites or services, different rules may apply to their use or disclosure of the information you disclose to them. We do not control the privacy policies of third parties, and you are subject to the privacy policies of those third parties where applicable. We encourage you to ask questions before you disclose your Personal Information to others.
        </p>
        <h3 class="mb-4">7. Changes and Updates to this Privacy Policy</h3>
        <p class="text-start">
          This Privacy Policy may be revised periodically without further notice to you. Please revisit this page to stay aware of any changes. In general, we only use your Personal Information in the manner described in the Privacy Policy in effect when we received that Personal Information. Your continued use on the Site and the Services constitutes your agreement to this Privacy Policy and any future revisions.
          <br/> <br/> 
          For revisions to this Privacy Policy that may be materially less restrictive on our use or disclosure of Personal Information you have provided to us, we will make reasonable efforts to notify you and obtain your consent before implementing revisions with respect to such information.
        </p>



      </div>
    </div>
    <hr />
  </div>
</section>
{% endblock %}
